{% extends 'connected.html.twig' %}

{% block title %}{% trans %}Fuel types{% endtrans %}{% endblock %}
{% block title_actions %}
    <a class="btn btn-primary" href="{{ path('admin_fuel_type') }}" role="button"><i class="fas fa-plus"></i> {% trans %}Add a fuel type{% endtrans %}</a>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">{% trans %}ID{% endtrans %}</th>
                    <th scope="col">{% trans %}Name{% endtrans %}</th>
                    <th scope="col"><i class="fas fa-location-arrow"></i> {% trans %}Actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for fuelType in fuel_types %}
                    <tr>
                        <td>{{ fuelType.id }}</td>
                        <td>{{ fuelType.name }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{{ path('admin_fuel_type', {'id': fuelType.id}) }}" role="button"><i class="fas fa-edit"></i> </a>
                            <a class="btn btn-danger btn-sm" href="{{ path('delete_fuel_type', {'id': fuelType.id}) }}" role="button" data-confirm=true><i class="fas fa-trash"></i> </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}