{% extends 'connected.html.twig' %}

{% block title %}{% trans %}Dashboard{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
{% endblock %}

{% block title_actions %}
    <a class="btn btn-primary" href="{{ path('vehicle') }}" role="button"><i class="fas fa-plus"></i> {% trans %}Add a vehicle{% endtrans %}</a>
{% endblock %}

{% block main %}
    <fieldset>
        <legend>
            {% trans %}My vehicles{% endtrans %}
        </legend>
        <div class="row">
            {% for vehicle in vehicles %}
                <div class="col-md-6 col-lg-4">
                    {{ include('vehicle/card.html.twig', { 'vehicle': vehicle }) }}
                </div>
            {% else %}
                <div class="alert alert-info text-center" role="alert">
                    <p>{% trans %}You don't have vehicle yet!{% endtrans %}</p>
                    <a class="btn btn-success" href="{{ path('vehicle') }}" role="button"><i class="fas fa-plus"></i> {% trans %}Adding your first vehicle{% endtrans %}</a>
                </div>
            {% endfor %}
        </div>
    </fieldset>

    <fieldset>
        <legend>
            {% trans %}Consumptions{% endtrans %}
        </legend>
        <div class="chart-container">
            <canvas id="consumptionsChart"></canvas>
        </div>
    </fieldset>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            var options = {
                title: {text: 'Consumptions'},
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        type: 'time',
                        gridLines: {display: false},
                        time: {format: 'DD/MM/YYYY'},
                        scaleLabel: {display: true,labelString: '{% trans %}Date{% endtrans %}'}
                    }],
                    yAxes: [{scaleLabel: {display: true,labelString: '{% trans %}Consumption{% endtrans %} l/100km'}}]
                },
            };
            var datasets = [];
            {% for vehicle in vehicles %}
                datasets.push({
                    label: "{{ vehicle.manufacturer }} {{ vehicle.model }}",
                    {% if vehicle.color %}
                        backgroundColor: "{{ vehicle.color|raw }}",
                        borderColor: "{{ vehicle.color|raw }}",
                    {% endif %}
                    fill: false,
                    data: JSON.parse('{{ vehicles_consumptions[vehicle.id]|raw }}')
                });
                var rgbBackground = "rgba(0, 0, 0, 0.1)";
                {% if vehicle.color %}
                    var rgb = hexToRgb("{{ vehicle.color }}");
                    rgbBackground = "rgba(" + rgb.r + ", " + rgb.g + ", " + rgb.b + ", 0.5)";
                {% endif %}
                datasets.push({
                    label: "{{ vehicle.manufacturer }} {{ vehicle.model }} - {% trans %}Showed{% endtrans %}",
                    backgroundColor: rgbBackground,
                    borderColor: rgbBackground,
                    fill: false,
                    data: JSON.parse('{{ vehicles_calc_consumptions[vehicle.id]|raw }}')
                });
            {% endfor %}
            new Chart(document.getElementById("consumptionsChart"),{
                    type:"line",
                    data:{labels: [],datasets:datasets},
                    options:options});
        });
    </script>
{% endblock %}