<div class="card vehicle-card">
    <div class="card-body">
        <h5 class="card-title">
            {{ vehicle.manufacturer }} {{ vehicle.model }}
        </h5>
        <div class="card-actions">
            <a class="btn btn-primary btn-sm" href="{{ path('my_vehicle', {'id': vehicle.id}) }}" role="button"><i class="fas fa-edit"></i> </a>
            <a class="btn btn-danger btn-sm" href="{{ path('delete_vehicle', {'id': vehicle.id}) }}" role="button" data-confirm=true><i class="fas fa-trash"></i> </a>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">{{ vehicle.year }}</h6>
        <p class="card-text">{% trans %}Average consumption:{% endtrans %} {% if vehicle.avgConsumption %}{{ vehicle.avgConsumption|number_format(2, ',', '') }}{% else %}--{% endif %} l/100km</p>
        <p class="card-text">{% trans %}Traveled distance:{% endtrans %} {{ vehicle.totalTraveledDistance|number_format(2, ',', '') }}km{% if vehicle.waitingTraveledDistance > 0 %}<span data-toggle="tooltip" data-placement="top" title="{% trans %}Waiting distance{% endtrans %}"> (+{{ vehicle.waitingTraveledDistance|number_format(2, ',', '') }}km)</span>{% endif %}</p>
        <p class="card-text">{% trans %}Compatible fuels:{% endtrans %}
            {% for fuel in vehicle.compatibleFuels %}
                {{ include('parts/fuel.html.twig', { 'fuel': fuel, 'prefered': vehicle.preferredFuelType and fuel.id == vehicle.preferredFuelType.id }) }}
            {% endfor %}
        </p>
    </div>
    <div class="card-footer text-center">
        <a class="btn btn-success" href="{{ path('my_refill_vehicle', {'id': vehicle.id}) }}" role="button"><i class="fas fa-battery-full"></i> {% trans %}New fueling{% endtrans %}</a>
        <a class="btn btn-info" href="{{ path('my_vehicle_fuelings', {'id': vehicle.id}) }}" role="button"><i class="fas fa-list"></i> {% trans %}Fuelings{% endtrans %}</a>
    </div>
</div>