<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('fontawesome/web-fonts-with-css/css/fontawesome-all.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <title>{% block title %}{% trans %}Welcome!{% endtrans %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('index') }}">BDzConso</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="nav-link" href="{{ path('security_logout') }}">{% trans %}Log out{% endtrans %}</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('security_login') }}">{% trans %}Log in{% endtrans %}</a>
                    {% endif %}

                </li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="row{% if not is_granted('IS_AUTHENTICATED_FULLY') %} justify-content-center{% endif %}">
                {% block menu %}{% endblock %}

                <main id="main" role="main" class="
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    col-md-9 ml-sm-auto col-lg-10 px-4
                {% else %}
                    col-md-10 col-lg-8
                {% endif %}
                ">
                    <div class="title d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">{{ block('title') }}</h1>
                        <div class="actions">{% block title_actions %}{% endblock %}</div>
                    </div>
                    {% block main %}{% endblock %}
                </main>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="{% trans %}Confirmation{% endtrans %}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">{% trans %}Confirmation{% endtrans %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="confirmationMessage" data-default="{% trans %}Are you sure?{% endtrans %}">{% trans %}Are you sure?{% endtrans %}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="confirmModalNo">{% trans %}No{% endtrans %}</button>
                        <a class="btn btn-primary" href="#" id="confirmModalYes">{% trans %}Yes{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>


        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
