{% extends new and not is_granted('ROLE_ADMIN') ? 'base.html.twig' : 'connected.html.twig' %}

{% block title %}
    {% if not new %}
        {% trans %}User edition{% endtrans %}
    {% else %}
        {% trans %}Registration{% endtrans %}
    {% endif %}
{% endblock %}

{% block main %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">{{ form_row(form.firstname) }}</div>
            <div class="col-md-6">{{ form_row(form.lastname) }}</div>
        </div>
        {{ form_row(form.email) }}
        <div class="row">
                <div class="col-md-6">{{ form_row(form.password.first) }}</div>
                <div class="col-md-6">{{ form_row(form.password.second) }}</div>
        </div>
        {% if form.roles is defined %}
            {{ form_row(form.roles) }}
        {% endif %}
        <button type="submit" class="btn btn-primary">{% if new %}{% trans %}Register{% endtrans %}{% else %}{% trans %}Update{% endtrans %}{% endif %}</button>
    {{ form_end(form) }}
{% endblock %}
