{% extends 'connected.html.twig' %}

{% block title %}
    {% if new %}
        {% trans %}New fueling{% endtrans %}
    {% else %}
        {% trans %}Fueling edition{% endtrans %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block main %}
    {{ form_start(form) }}
    {{ form_row(form.date) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(form.fuelType) }}{{ form_row(form.additivedFuel) }}</div>
        <div class="col-md-4">{{ form_row(form.volume) }}</div>
        <div class="col-md-4">{{ form_row(form.amount) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row(form.traveledDistance) }}</div>
        <div class="col-md-4">{{ form_row(form.showedConsumption) }}</div>
        <div class="col-md-4">{{ form_row(form.volumePrice) }}</div>
    </div>
    <button type="submit" class="btn btn-primary">
        {% trans %}Save{% endtrans %}
    </button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            var parseFloatFr = function (string) {
                return parseFloat(string.replace(',', '.'))
            };
            var calculingVolumePrice = function () {
                var fuelingAmount = parseFloatFr($('#fueling_amount').val());
                var fuelingVolume = parseFloatFr($('#fueling_volume').val());
                var fuelingVolumePrice = parseFloatFr($('#fueling_volumePrice').val());
                if (!isNaN(fuelingVolumePrice) || isNaN(fuelingVolume) || isNaN(fuelingAmount) || fuelingVolume === 0.0) {
                    return;
                }
                var volumePrice = fuelingAmount/fuelingVolume;
                $('#fueling_volumePrice').val(volumePrice.toLocaleString(undefined, { minimumFractionDigits: 3 }));
            }
            $('#fueling_volume').on('change', calculingVolumePrice);
            $('#fueling_amount').on('change', calculingVolumePrice);
        });
    </script>
{% endblock %}